body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  /* Color Palette: https://www.color-hex.com/color-palette/86099 */
  height: 100vh;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center;
  background-color: #278664;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.199);
  color:#F9FFAE;
  overflow-x: hidden;
}

#appLogo {
  margin: 0;
  margin-top: 30px;
  width: 300px;
}

.createUserDiv {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupDiv {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchResultsDiv {
  margin-top: 10px;
  width: 370px;
  background-color: white;
  height: 140px;
  scrollbar-width: thin;
  scrollbar-color: #4e594a white;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border: solid 2px black;
}
.searchResults {
  padding-left: 0;
  margin-left: 0;
}

.searchResults li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #4e594a;
}

.searchResults li:active {
  background-color:#79a471;
  color: white;
}

#searchBoxStockPrice {
  text-align: right;
}

.h2instructions {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.h2UserName {
  margin: 0;
}

.buttons {
  margin-top: 10px;
  width: 380px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.buttons:active {
  background-color: #4e594a;
  color: #F9FFAE;
  border-color: #F9FFAE;
}

.stockButtonsDiv {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 296px;
}

.buyStock,
.goToStock {
  width: 140px;
  font-size: 0.8rem;
}

.weeklyButton, .monthlyButton, .yearlyButton {
  width: 50px;
  font-size: 0.8rem;
}

.buyStock {
  background-color: #F9FFAE;
  box-shadow: 0 0 5px #F9FFAE;
  animation: glow 5s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #F9FFAE;
  }
  50% {
    box-shadow: 0 0 10px #F9FFAE;
  }
  100% {
    box-shadow: 0 0 0px #F9FFAE;
  }
}


.inputBars {
  margin-top: 10px;
  width: 360px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.inputBars:focus {
  background-color:#F9FFAE;
}

.inputBars::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.inputBudget::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#myChart {
  background-color: white;
}