body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  position: relative;
  /* Color Palette: https://www.color-hex.com/color-palette/86099 */
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center;
  color: #f9ffae;
  overflow-x: hidden;
}

#appLogo {
  margin: 0;
  margin-top: 30px;
  width: 300px;
}

.createUserDiv {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setupDiv {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  position: relative;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchResultsDiv {
  margin-top: 10px;
  width: 330px;
  background-color: white;
  height: 140px;
  scrollbar-width: thin;
  scrollbar-color: #4e594a white;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border: solid 2px black;
}

.searchResults {
  position: relative;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}

.searchResults img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchResults li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #4e594a;
}

#clicked {
  color: white;
  background-color: #79a471;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#clicked span {
  color: #4e594a;
}

#stockRegion {
  text-align: right;
  background-color: #f9ffae;
  border-radius: 10px;
  padding: 5px;
}

.h2instructions {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.h2UserName {
  margin: 0;
}

.h2search {
  margin: 0;
}

.buttons {
  margin-top: 10px;
  width: 340px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-wrap: nowrap;
  cursor: pointer;
}

.buttons:active {
  background-color: #4e594a;
  color: #f9ffae;
  border-color: #f9ffae;
}

.stockButtonsDiv {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 296px;
}

.buyStock,
.goToStock {
  width: 140px;
  font-size: 0.8rem;
}

.stockPage {
  display: flex;
  flex-direction: column;
}

.stockPrice {
  margin-top: 0;
}

.stockPageBuyButton {
  margin-top: 20px;
  background-color: #f9ffae;
  animation: glow 5s infinite;
}

.changeTimeFrameDiv {
  display: flex;
  justify-content: space-between;
}

.weeklyButton,
.monthlyButton,
.yearlyButton {
  padding: 0px;
  width: 80px;
  height: 25px;
  font-size: 0.8rem;
}

.buyStock {
  background-color: #f9ffae;
  box-shadow: 0 0 5px #f9ffae;
  animation: glow 5s infinite;
}

.buyDiv {
  position: absolute;
  width: 330px;
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  top: 105%;
}

#buyHeader {
  color: #4e594a;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
}

#headerPrice {
  background-color: #f9ffae;
  color: #4e594a;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  font-size: 1rem;
}

.buyInputField {
  width: 60px;
}

.revertBuy {
  position: absolute;
  width: 140px;
  align-self: center;
  font-size: 0.8rem;
  top: 105%;
  left: 30%;
  cursor: pointer;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #f9ffae;
  }
  50% {
    box-shadow: 0 0 10px #f9ffae;
  }
  100% {
    box-shadow: 0 0 0px #f9ffae;
  }
}

.inputBars {
  margin-top: 10px;
  width: 320px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.inputBars:focus {
  background-color: #f9ffae;
}

.inputBars::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.inputBudget::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#myChart {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: transparent;
}

#settingsBar {
  transition: transform 0.5s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f9ffae;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  transform: translateY(100%); /* Hide the bar offscreen */

}

#settingsBar.show {
  transform: translateY(0); /* Show the bar */
}

#adjustMode, #clearCookies {
  margin: 0;
  width: fit-content;
  font-size: 0.9rem;
  margin-left: 20px;
}

#adjustMode:active, #clearCookies:active {
  color: #ffffff;
  border-color: #ffffff;
}

#settingsIcon {
  margin: 0;
  position: fixed;
  bottom: 25px;
  width: 55px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  opacity: 0;
  visibility: hidden;
}

#settingsIcon.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

#closeSettingsIcon {
  margin: 0;
  position: absolute;
  top: 86%;
  width: 35px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  opacity: 0;
  visibility: hidden;
}

#closeSettingsIcon.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

#modeDiv {
  transition: opacity 0.2s linear;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  background-color: #4e594a
}

#modeDiv.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

#darkMode, #lightMode {
  margin: 0;
  width: fit-content;
  font-size: 0.9rem;
  margin-left: 20px;
}

#closeModeIcon {
  position: absolute;
  bottom: 120%;
  width: 35px;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.199); /* Black background with 50% opacity */
  z-index: 0; /* Make sure it's below #modeDiv */
  display: none;
}

#loadingGif {
  width: 130px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 2000px) {
  .createUserDiv,
  .setupDiv,
  .searchBox {
    margin-top: 7%;
    padding-top: 0px;
  }

  #settingsBar, #modeDiv {
    height: 65px;
  }
}

@media screen and (max-width: 500px) {
  .createUserDiv,
  .setupDiv {
    margin-top: 20%;
  }

  .searchBox {
    margin-top: 10%;
  }

  #settingsBar, #modeDiv {
    height: 55px;
  }

  #closeSettingsIcon {
   top: 84%;
  }

  #closeModeIcon {
    bottom: 107%;
  }

  #adjustMode,#clearCookies ,#darkMode, #lightMode {
    scale: 0.85;
  }
}
